<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Flask-проект{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="title-plate">
        <h1>Пикми-сайт</h1>
    </div>

    <header>
        <nav>
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('about') }}">О проекте</a>
            <a href="{{ url_for('hobbys') }}">Увлечения</a>
            <a href="{{ url_for('tests') }}">Тест</a>
            <a href="{{ url_for('numerology') }}">Нумерология</a>
            <a href="{{ url_for('cats') }}">Котики</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Flask Project © 2026</p>
    </footer>
</body>
</html>